# Parameters for the input from the goals spreadsheet.
goals:
    # The index of the row with the project names.
    project_row:
    # The index of the row with the last project numbers.
    last_row:
    # The index of the column with first project.
    first_project_column:
# Mapping of column headers in the projects spreadsheet to canonical labels
project_columns:
    canonical_label: column_header
# Parameters for wiki pages
wiki:
    # Name of the template used to create the project page.
    project_template:
    # Mapping between the parameter names in the project page template
    # and the canonical label in project_columns above.
    project_parameters:
        template_parameter: label
    # A list of subpages that should be created under the project page.
    subpages:
        # Title of the subpage.
        - title:
          # Name of the template used to create subpage.
          template_name:
          # Mapping between the parameter names in the subpage
          # template and the canonical label in project_columns above.
          # Note that the "år"-parameter is always passed.
          parameters:
              template_parameter: label
          # Add this only if the subpage should include goals.
          add_goals_parameters:
              # Template parameter where the goals template should be
              # put and the name of the template to use for the goals.
              template_parameter: Template:Goals
    year_pages:
        # Page where the operational plan can be found.
        operational_plan:
        # Template where current projects are listed
        current_projects_template:
        # Map of pages that will be created by substituting
        # templates. Instances of "<YEAR>" in the title are replaced
        # by the actual year.
        simple:
            Title: Template
        # Parameters for project year page.
        projects:
            title:
            template:
            # Special case for the external pseudo program.
            external:
                number:
                name:
        # Parameters for program overview page.
        program_overview:
            # Colours to use in the program headers.
            colours:
                - #123456
            title:
            templates:
                # Template that is substed to create the page.
                page:
                # Templates that are used by the page template. Maps
                # parameter name in the page template to template
                # name.
                parameter: Template
        # Year categories.
        categories:
            # This category is added to each category page.
            general: Category
            # Category page to add. Key is page title (replaces
            # "<YEAR>" with actual year). Value, if present is an
            # extra category to add to the page or a list of such categories.
            pages:
                Title 1:
                Title 2: Extra Category
# Parameters for Phabricator
phab:
    # API-token for Conduit.
    api_token: api-...
    # URL to the API.
    api_url: https://.../api
    # Id of the project that created projects will be subprojects
    # of. This can be found in the URL of a project, e.g. in
    # https://phabricator.wikimedia.org/project/profile/2480/
    # the id is 2480
    parent_project_id:
    # Time in seconds to wait between making request.
    request_delay:
